    .btn {
            font-size: 70px;
            font-weight: bold;
            font-family:微软雅黑;
            color:#5bc0de;
            text-align:center;
            border-color: #46b8da;
            border-radius:15px;
            border-width: 3px;
         } 
    .topbtn{
              text-align:center;
              position:relative;
              animation: topin 2s;
              -webkit-animation: topin 2s;
              -moz-animation: topin 2s;
           }    
     @keyframes topin
    {
      0%{top: -100px}
      50%{top: 45px;}
      100%{top: 10px;}
    } 
    @-webkit-keyframes topin
    {
      0%{top: -100px}
      50%{top: 45px;}
      100%{top: 10px;}
    } 
    @-moz-keyframes topin
    {
      0%{top: -100px}
      50%{top: 45px;}
      100%{top: 10px;}
    } 
    .bottombtn{
                text-align:center;
                position:relative;
                animation: bottomin 2s;
              -webkit-animation: bottomin 2s;
              -moz-animation: bottomin 2s;
              }
    @keyframes bottomin
    {
      0%{bottom: -100px}
      50%{bottom: 45px;}
      100%{bottom: 10px;}
    } 
    @-webkit-keyframes bottomin
    {
      0%{bottom: -100px}
      50%{bottom: 45px;}
      100%{bottom: 10px;}
    } 
    @-moz-keyframes bottomin
    {
      0%{bottom: -100px}
      50%{bottom: 45px;}
      100%{bottom: 10px;}
    } 


    .blank{
      height: 10px;
    }


   #or{
    font-size: 60px;
    font-weight: bold;
    color:#5bc0de;
    text-align:center;
    position:relative;
    animation: roll 2.3s;
    -webkit-animation: roll 2.3s;
    -moz-animation: roll 2.3s;
   }
    @keyframes roll
    {
      0%{opacity: 0;}
      70%{opacity: 0;}
      95%{opacity: 1;-webkit-transform:rotate(0deg);}
      100%{-webkit-transform:rotate(360deg);}
    }
    @-webkit-keyframes roll
    {
      0%{opacity: 0;}
      70%{opacity: 0;}
      95%{opacity: 1;-webkit-transform:rotate(0deg);}
      100%{-webkit-transform:rotate(360deg);}
    }
    @-moz-keyframes roll
    {
      0%{opacity: 0;}
      70%{opacity: 0;}
      95%{opacity: 1;-webkit-transform:rotate(0deg);}
      100%{-webkit-transform:rotate(360deg);}
    }


   #tips{
    font-size: 20px;
    font-weight: bold;
    text-align:center;
    position:relative;
    animation: appear 2.3s;
    -webkit-animation: appear 2.3s;
    -moz-animation: appear 2.3s;
   }
    @keyframes appear
    {
      0%{opacity: 0;}
      90%{opacity:0;}
      100%{opacity:1;}
    }
   @-webkit-keyframes appear
    {
      0%{opacity: 0;}
      90%{opacity:0;}
      100%{opacity:1;}
    }
     @-moz-keyframes appear
    {
      0%{opacity: 0;}
      90%{opacity:0;}
      100%{opacity:1;}
    }