html, 
body {
    height: 100%;
}

.page {
  overflow: hidden;
  height: 100%;
  background-color: #5299C0;
}

.navbar {
    background-color: #4B7B95;
    color: #fff;
    border-color: #4B7B95;
}

header h3.page-title {
    text-align: center;
}

#index-page section.choice {
    margin: 50px 0;
    text-align: center;
}

#index-page section.choice button {
    width: 50%;
}

@-webkit-keyframes leftin {
    0% {
        -webkit-transform: translateX(-100px);
                transform: translateX(-100px);
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

@-webkit-keyframes rightin {
    0% {
        -webkit-transform: translateX(100px);
                transform: translateX(100px);
    }
    100% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }
}

#index-page section.choice button.left-in {
    -webkit-animation: leftin ease 0.8s;
            animation: leftin ease 0.8s;
}

#index-page section.choice button.right-in {
    -webkit-animation: rightin ease 0.8s;
            animation: rightin ease 0.8s;
}

#question-page {
  display: none;
}

#question-page .content {
    position: absolute;
    top: 70px;
    bottom: 60px;
    box-sizing: border-box;
    width: 90%;
    padding: 10px;
    border: 7px double #c8c8c8;
    border-radius: 15px;
    margin: 0 5%;
    font-size: 28px;
    color: #fff;
}

#question-page footer .btn-lg {
    height: 50px;
}
